.job-form-container {
  .form-label {
    font-size: 18px !important;
  }

  .form-control {
    font-size: 18px !important;
    padding: 5px 20px !important;

    &::placeholder {
      font-size: 18px !important;
    }
  }

  .form-select {
    font-size: 18px !important;
  }
}