<div class="dashboard-layout">
  <!-- Sidebar -->
  <app-sidebar class="sidebar" (navigationChange)="navigateToView($event)"></app-sidebar>

  <!-- Main Content -->
  <div class="main-content" >
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Page Content -->
    <div class="container-fluid p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<app-job-detail-modal
  [job]="selectedJobForModal"
  [visible]="isJobDetailModalVisible"
  (closeEvent)="closeJobDetailModal()"
></app-job-detail-modal>
